<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/base.css">
  <link rel="stylesheet" href="../../static/global.css">
  <link rel="stylesheet" href="../static/message.css">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <ul>
      <li><a href="/">ホーム</a></li>
      {% if session.logged_in %}
      <li><a href="/logout">ログオフ</a></li>
      {% else %}
      <li><a href="/login">ログイン</a></li>
      {% endif %}
      <li>ユーザー画面</li>
    </ul>
  </header>
  <main>
  {% block main %}
  {% endblock %}
</main>
</body>
</html>
