div {
  height: 600px;
}

button {
  background-color: rgb(103, 196, 225);
  color: white;
  font-size: 30px;
  border-style: none;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  cursor: pointer;
  margin: 0 3em 0 3.5em;
  z-index: -50;
}

button a {
  text-decoration: none;
  color: white;
}

.user_todo-ul {
  display: flex;
  width: 1500px;
  flex-wrap: wrap;
  list-style: none;
  overflow-x: scroll;
}

.user_todo-li {
  width: 350px;
  max-height: 200px;
  overflow-wrap: break-word;
  font-size: 28px;
  margin: 1em;
  padding: 2em 1em 2em 1em;
  border: 0.5px solid rgb(108, 108, 108);
  border-radius: 15px;
}

.ellipsis {
  width: 325px; /* 省略せずに表示するサイズを指定 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1300px) {
  .user_todo-ul {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    list-style: none;
  }
}
@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .user_todo-ul {
    display: flex;
    flex-direction: column;
    width: 360px;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 2em;
  }
  .user_todo-li {
    width: 300px;
    max-height: 170px;
    overflow-wrap: break-word;
    font-size: 19px;
    margin: 1em;
    padding: 2em 1em 2em 1em;
    border: 0.5px solid rgb(108, 108, 108);
    border-radius: 15px;
  }
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .user_todo-ul {
    display: flex;
    flex-direction: column;
    width: 310px;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 4.1em;
  }
  .user_todo-li {
    width: 260px;
    max-height: 100px;
    overflow-wrap: break-word;
    font-size: 15px;
    margin: 1em 0.3em 0.2em 1em;
    padding: 0.6em 1em 2em 1em;
    border: 0.5px solid rgb(108, 108, 108);
    border-radius: 15px;
  }
}
