{% extends 'layouts/base.html' %}
{% block head %}
<title>やさしいおぼえがき</title>
{% endblock %}
{% block main %}
  {% if err %}
  <div class="alert-error">{{err}}</div>
  {% endif %}
    <form action="" method="POST" class="form-example">
      <h1>ログインしてください</h1>
      <input type="email" name="email" id="email" class="input" placeholder="メールアドレスを入力" required>
      <input type="password" name="password" id="password"  class="input" placeholder="パスワードを入力" required>
      <input type="submit" value="ログイン" class="submit">
    </form>
    
{% endblock %}
