{% extends 'layouts/base.html' %}
{% block head %}
<title>{{title}} | やさしいおぼえがき</title>
{% endblock %}
{% block main %}

{% from './includes/_formhelpers.html' import render_field %}
{% if err %}
<div class="alert-error">{{err}}</div>
{% endif %}
<form action="" method="POST" class="form-example">
  <h1>登録してください</h1>
   
    {{ render_field(form.username, class_="input") }}

    {{ render_field(form.email, class_="input") }}

    {{ render_field(form.password, class_="input") }}

    {{ render_field(form.confirm, class_="input") }}
  <input type="submit" value="登録" class="submit" > 
</form>
<!-- <script>
  function CheckPassword(confirm){
    var input1 = password.value
    var input2 = confirm.value
    if(input1 != input2){
      // alert('passwordが一致しません')
      confirm.setCustomValidity('passwordが一致しません')
    }else{
      confirm.setCustomValidity('');
    }
  }
</script> -->
{% endblock %}
