{% extends 'layouts/base.html' %}
{% block head %}
<link rel="stylesheet" href="../static/todo.css">
<title>やさしいおぼえがき</title>
{% endblock %}
{% block main %}
    <h1>やること</h1>
    <p>{{ tasks.title }}</p>
    <h1>やることの詳細</h1>
    <p>{{ tasks.detail }}</p>

    <div>
      <button class="edit_btn">編集</button>
      <button class="delete_btn"><a href="/delete/{{ tasks.id }}" class="btn btn-danger fas fa-trash-alt" onclick="return confirm('この項目を削除します。よろしいですか？')">削除</a></button>
    </div>

{% endblock %}
