{% extends 'layouts/base.html' %}
{% block head %}
<link rel="stylesheet" href="../static/user_todo.css">
<title>やさしいおぼえがき</title>
{% endblock %}
{% block main %}
    <div>
      <button><a href="/create">新規作成</a></button>
      {% if tasks %}
      <div class="user_todo-ul">
        {% for task in tasks %}
        <div class="user_todo-li">
            <p>{{ task.title }}</p>
            <p class="ellipsis">{{ task.detail }}</p>
            <a href="/todo/{{ task.id }}" class="pagelink">詳細はこちら</a>
        </div> 
        {% endfor %}
    </div>
      {% else %}
      <p>おぼえがきがありません</p>
      {% endif %}
    </div>

{% endblock %}
