{% extends 'layouts/base.html' %}
{% block head %}
<link rel="stylesheet" href="../static/user_todo.css">
<title>やさしいおぼえがき</title>
{% endblock %}
{% block main %}
    <div>
      <button><a href="/create">新規作成</a></button>
      <ul class="user_todo-ul">
        <li class="user_todo-li">
            <p>title</p>
            <p class="ellipsis">detail</p>
            <a href="#">詳細はこちら</a>
        </li>
        <li class="user_todo-li">
            <p>title</p>
            <p class="ellipsis">detaildetaildetaildetaildetaildetaildetaildetaildetaildetaildetaildetail</p>
            <a href="#">詳細はこちら</a>
        </li>
        <li class="user_todo-li">
            <p>title</p>
            <p class="ellipsis">detail</p>
            <a href="#">詳細はこちら</a>
        </li>
        <li class="user_todo-li">
            <p>title</p>
            <p class="ellipsis">detail</p>
            <a href="#">詳細はこちら</a>
        </li>
      </ul>
    </div>

{% endblock %}
